In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('/Users/cmiao/Desktop/David.F2.Genos', delim_whitespace=True)

In [4]:
cols = list(df.columns)
cols[0]='chr'
cols.insert(1, 'pos')

,locus_name,SM-1,SM-2,SM-3,SM-4,SM-5,SM-6,SM-7,SM-8,SM-9,...,SM-65,SM-66,SM-67,SM-68,SM-69,SM-70,SM-71,SM-72,SM-73,SM-74
0,chn1-1000282,B,X,A,A,B,B,B,X,B,...,A,B,B,A,A,X,B,B,A,X
1,chn1-3029139,X,B,B,X,B,B,B,B,B,...,A,B,B,A,X,B,B,B,B,B
2,chn1-3703196,X,X,A,X,B,A,B,X,B,...,A,B,X,X,X,X,B,B,A,B
3,chn1-3703558,X,A,-,X,B,X,B,X,B,...,A,B,X,X,X,X,B,B,A,-
4,chn1-4040233,B,X,A,X,B,X,B,B,B,...,A,B,X,X,X,X,B,B,A,B

In [9]:
df['chr'] = df['locus_name'].apply(lambda x: x.split('-')[0])
df['pos'] = df['locus_name'].apply(lambda x: x.split('-')[1])

In [16]:
df[cols].to_csv('/Users/cmiao/Desktop/David.map', sep='\t', index=False)